@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
section{
  height: 100vh;
}

#home{
  background-image: url(../img/front-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
}

nav img{
  height: 100px;
  margin-top: 10%;
  padding: 5%;
}

.nav-links{
  display: flex;
  justify-content: space-around;
  width: 50%;

}

.nav-links li{
  list-style: none;
}

.nav-links a{
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: #fff;
  font-size: 15px;
}


button{
  background-color: rgba(47, 186, 209, 1);
  border: none;
  border-radius: 50px;
  transition: all 0.3s ease 0s;
  width: 180%;
  height: 150%;
  margin-top: -10px;
  font-weight: bold;
  color: #fff;
}

.shop:hover{
  background-color: transparent;
  border: 2px solid #2fbad1
}

.hamburger{
  display: none;
  cursor: pointer;
}

.hamburger div{
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px;
}

#front{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  font-weight: bolder;
  margin-top: 16%;
  text-align: center;
  width: 100%;
}


.scroll {
  background-color: rgba(47, 186, 209, 1);
  padding: 0.3%;
  font-size: 20px;
  width: 17%;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: #fff;
  margin: 2%;
}
.scroll:hover{
  background-color: transparent;
  border: 3px solid #2fbad1
}

/*///animation...*/
.link::after{
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #2fbad1;
  transition: width .3s;
}

.link:hover::after{
  width: 100%;
  //transition: width .3s;
}

/* events*/
#event{
  color: #fff;
  height: 65vh;
}

.next_event{
  text-align: center;
  margin-top: 5%;
  font-family: sans-serif;
  font-size: 25px;
  font-weight: bold;
}

.name{
  text-align: center;
  margin-top: 10%;
  font-family: 'Dancing Script', cursive;
  font-size: 80px;
  color: #d7f3f7;
}

.ples{
  color: #d7f3f7;
  text-align: center;
  font-family: sans-serif;
  font-size: 16px;
}

.left img{
  float: left;
  display: flex;
  width: 50%;
  height: 65vh;
  position: absolute;
}

#demo{
  position: relative;
  float: left;
  margin-top: 16%;
  width: 50%;
  text-align: center;
  font-size: 65px;
  font-family: sans-serif;
  font-weight: bold;
  color: #fff;
  text-shadow: 2px 2px #2a2a2a;
}

.right{
  background-color: #2a2a2a;
  float: right;
  width: 50%;
  height: 65vh;
}

.event_shop button{
  background-color: rgba(47, 186, 209, 1);
  border: none;
  border-radius: 50px;
  transition: all 0.3s ease 0s;
  width: 20%;
  height: 8%;
  margin: 20% 0 0 40%;
  cursor: pointer;
  position: relative;
  font-weight: bold;
  color: #fff;
}

.event_shop button:hover{
  background-color: transparent;
  border: 3px solid #2fbad1
}




