@media screen and (max-width: 1024px) {
  .nav-links{
    width: 80%;
  }
}

@media screen and (max-width: 768px) {
  html {
    overflow-x: hidden;
   }
   body {
    overflow-x: hidden;
   }
   nav img{
    height: 100px;  
   }
   .nav-links{
     display: none;
   }
  .hamburger{
    display: block;
  }
  #front{
    margin-top: 40%;
  }
  .scroll{
    width: 40%;
  }
}

.nav-active{
  transform: translateX(0%);
}
